body{
    background-color:yellow;
    color: white;
}

.heading
{
    width: 80%;
    font-size: 22px;
}

.items,#display_object,#display_accuracy
{
    color:purple;
}

#webcam_output
{
    width: 350px;
    height: 300px;
    border: 2px dashed black ;
}
